  <div class="how">
    <div class="container">
      <div class="how-bottom">
        <div class="col-md-6 how-left">
          <%= image_tag("h-1.jpg")%>
        </div>
        <div class="col-md-6 how-right">
          <div class="how-top heading">
            <h3>HOW</h3>
          </div>
          <p>Very easy to book.</p>
          <div class="h-btn">
            <a href="#">More</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>