<div class="why" id="about">
  <div class="container">
    <div class="why-top heading">
      <h3>WHY?</h3>
      <p>Manu Maharani Nainital</p>
    </div>
    <div class="why-bottom">
      <div class="col-md-4 why-left">
        <span class="w-one"></span>
        <p>Very Good Food</p>
      </div>
      <div class="col-md-4 why-left">
        <span class="w-two"></span>
        <p>Best Facilities</p>
      </div>
      <div class="col-md-4 why-left">
        <span class="w-tre"></span>
        <p>Best Location</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>