<body>
  <!--start-header-->
  <div class="banner">
    <div class="container">
      <div class="banner-top">
  			<%= render "form"%>
  		</div>
		</div>
	</div>
  <%= render "slider" %>
  <%= render "how" %>
  <%= render "why"%>
</body>                                                                                                                                                  