  <div class="header" id="home">
    <div class="container">
      <div class="head">
      <div class="logo">
        <a href="index.html"><h1 style = "color: white;">HOTEL</h1> </a>
      </div>
      <div class="navigation">
         <span class="menu"></span> 
          <ul class="navig">
            <li><a href="/"  class="active hvr-bounce-to-bottom">Home</a></li>
            <li><a href="/rooms" class="hvr-bounce-to-bottom">Rooms</a></li>
          </ul>
      </div>
        <div class="clearfix"></div>
      </div>
      </div>
    </div>  
  <!-- script-for-menu -->
  <!-- script-for-menu -->
    <script>
      $("span.menu").click(function(){
        $(" ul.navig").slideToggle("slow" , function(){
        });
      });
    </script>