<div class="services-one">
  <section class="slider">
    <div class="flexslider flexslider-padding">
      <ul class="slides">
        <li>
          <%= link_to image_tag("room_1", class: "img-responsive", height: 300, width: 450), new_booking_path(room_type:1)%>
        </li>
        <li>
          <%= link_to image_tag("room_1_1", class: "img-responsive", height: 300, width: 450), new_booking_path(room_type:1)%>
        </li>
        <li>
          <%= link_to image_tag("room_1_2", class: "img-responsive", height: 300, width: 450), new_booking_path(room_type:1)%>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </section>
  <h4>Luxury Rooms - Queen Size Bed and Pool Facing</h4>
  <p>The Deluxe rooms are located on the upper floors, offering beautiful views of the city of São Paulo, a privilege offered by few hotels. Facilities are focused on guest comfort and functionality, and services to make your stay unforgettable.</p>

  <p>Enjoy the modern décor and well-designed layout of this room measuring 27 m2 in one of the best hotels in São Paulo. </p>
  <p>Enjoy also the comfort provided by the soft, inviting bed, as well as the television with international channels..</p>
  <ul>
    <li><a href="#">Queen Size Bed</a></li>
    <li><a href="#">Swimming Pool</a></li>
  </ul>
</div>
